<div class="w-75 mx-auto">
  <h2 class="fs-3 font-title">GALERIA</h2>
  <hr>
</div>
<div class="d-flex justify-content-center flex-wrap w-75 mx-auto">
  @for (picture of pictures; track $index) {
  <div class="col-3 p-1">
    <img src='{{picture.src}}' alt='{{picture.alt}}' class='img-fluid'>
  </div>
  }
</div>

<div style="background-color: #F2F2F2">
  <div class="w-75 mx-auto">
    <h2 class="fs-3 font-title">SOBRE NÓS</h2>
    <hr class="mb-3">

    <div class="row ">
      <div class="col-6">
        <img src="../../../assets/img/galeria-cliente-17.png" alt="banner do site alta construcoes"
          style="max-width: 100%;">
      </div>

      <div class="col-6">
        <p>
          A ALTA CONSTRUÇÕES E REFORMAS atua desde 2022, com foco em projetos e reformas em escolas estaduais e
          municipais.
          Nossa equipe é composta por profissionais terceirizados especializados em uma ampla gama de serviços, como
          instalações elétricas, hidráulica, serralheria, marcenaria, pintura, demolição, jardinagem, poda de árvores,
          limpeza
          de caixas d'água, além da instalação de alarmes e sistemas de CFTV.
        </p>
      </div>

    </div>
  </div>
</div>
<div class="w-75 mx-auto">
  <app-contact-form></app-contact-form>
</div>
