.footer {
  background-color: #07265e;
  color: #fff;
  border-top: 14px solid #80a5df;
}

.attribution {
  color: white;
  font-size: .55rem;
  a {
    color: white;
    text-decoration: none;
    cursor: none;
  }
}
