<footer id="contato" class="footer">
  <div class="text-center d-md-flex gap-5 px-5 pt-5 justify-content-center">
    <section class="mb-sm-3">
      <img src="../../../assets/img/logo-original.png" alt="Logo da Alta Construções e Reformas"
        style="width: 120px; align-self: center;">
    </section>
    <section class="mb-sm-5">
      <p>Rua Antônio Alfredo Campos, 241
      </p>
      <p>
        Jardim Guanhembu - São Paulo
      </p>
      <p>
        CEP: 04814-560
      </p>
    </section>

    <section class="mb-sm-5">
      <p>Celular: (11) 97185-3340</p>
    </section>

    <section>
      <p>
        Nossas Redes
      </p>
      <div class="d-flex justify-content-center">
        <a href="https://www.instagram.com/alta.constru/" target="_blank">
          <img src=".../../../../../assets/img/instagram_logo.svg.webp" alt="logo do Instagram" style="width: 50px">
        </a>
      </div>
    </section>
  </div>
  <div class="attribution text-left ps-1 mt-3">
    <p>Some images from <a href="https://www.freepik.com/" target="_blank"><span>Freepik.</span></a></p>
  </div>
</footer>