<div class="w-100 py-1" id="contato"></div>
<p class="mb-2 fs-3 font-title mt-5">CONTATO</p>
<hr class="m-0 mb-3 p-0">
<section class="px-1">
  <div class="row d-flex align-items-stretch">
    <form [formGroup]="form" class="col-12 mb-2 col-xl-6 mb-xl-0 d-flex flex-column" (ngSubmit)="sendEmail()"
      novalidate>
      <div class="row g-2 py-3 px-2" style="background-color: #F2F2F2;">
        <div class="col-12">
          <label for="name" style="font-size:13px" class="m-0 p-0 col-form-label">Nome</label>
          <input type="text" id="name" formControlName="name" placeholder="Ex: João da Silva" class="form-control">
          <div *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)"
            class="text-danger">
            <div *ngIf="form.get('name')?.errors?.['required']">O nome é obrigatório.</div>
          </div>
        </div>

        <div class="col-6">
          <label for="phone" style="font-size:13px" class="m-0 mt-1 p-0 col-form-label">Telefone</label>
          <input type="text" id="phone" formControlName="phone" placeholder="Ex: 011 123456-7890" class="form-control"
            required maxlength="16">
          <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="text-danger">
            O telefone deve ser válido.
          </div>
        </div>

        <div class="col-6">
          <label for="email" style="font-size:13px" class="m-0 mt-1 p-0 col-form-label">E-mail</label>
          <input type="email" id="email" formControlName="email" placeholder="Ex: email@email.com" class="form-control"
            required>
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
            O e-mail deve ser válido.
          </div>
        </div>

        <div class="col-6">
          <label for="endereco" style="font-size:13px" class="m-0 mt-1 p-0 col-form-label">Endereço da Obra</label>
          <input type="text" id="endereco" formControlName="endereco"
            placeholder="Ex: Avenida Dona Belmira Marin, 00 - Grajau" class="form-control" required>
        </div>

        <div class="col-6">
          <label for="prazo" style="font-size:13px" class="m-0 mt-1 p-0 col-form-label">Prazo Desejado para
            Conclusão</label>
          <input type="text" id="prazo" formControlName="prazo" placeholder="Ex: 15/06/2025" class="form-control"
            required>
        </div>

        <div class="col-12">
          <label for="details" style="font-size:13px" class="m-0 mt-1 p-0 col-form-label">Detalhes do Serviço</label>
          <textarea id="details" formControlName="details" placeholder="Ex: solicitação, localização, data, prazo, etc"
            class="form-control" style="width: 100%; max-height: 100%; min-width: 200px; min-height: 100px;" rows="10"
            maxlength="1500" required></textarea>
          <div *ngIf="form.get('details')?.invalid && form.get('details')?.touched" class="text-danger">
            Os detalhes do serviço são obrigatórios.
          </div>
        </div>
      </div>
      <div class="row g-2 py-3 px-2" style="background-color: #F2F2F2;">
        <button mat-button class="mx-auto w-75" type="submit" [disabled]="form.invalid">Enviar</button>
      </div>
    </form>

    <div class="d-none d-xl-block col-xl-6 d-flex align-items-stretch">
      <img src="../../../assets/img/galeria-cliente-14.png" alt="parede com arte de animais"
        style="width: 100%; height: 100%; object-fit: cover;">
    </div>
  </div>
</section>