<nav class="navbar navbar-expand-lg fixed-top bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" id="home" (click)="scrollToDiv('heroContainer')">
      <img src="../../../assets/img/logo-original.png" class="logo-img">
      <strong>Alta Construções e Reformas</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="px-3">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="d-none d-lg-block">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="scrollToDiv('heroContainer')">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="scrollToDiv('galeria')">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="scrollToDiv('sobre')">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="scrollToDiv('contato')">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="scrollToDiv('localizacao')">Localização</a>
          </li>
        </ul>
      </div>

      <div class="d-xm-block d-lg-none">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="scrollToDiv('heroContainer')" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">Início</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="scrollToDiv('galeria')" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">Galeria</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="scrollToDiv('sobre')" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">Sobre</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="scrollToDiv('contato')" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">Contato</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="scrollToDiv('localizacao')" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
              aria-expanded="false">Localizacao</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
